<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">
	<title>¡CYOA!</title>
</head>

<body>
	<header>
		<!-- Chapter title goes here -->
		<h1 class="text-center">{{.Title}}</h1>
	</header>
	<main class="container">
		<div class="row">
			<!-- Paragraphs go here -->
			{{range .Paragraphs}}
			<p class="col-12 lead text-center">
				{{.}}
			</p>
			{{end}}
		</div>
		<div class="row">
			<!-- Options go here -->
			{{range .Options}}
			<div class="col">
				<button class="btn btn-outline-danger btn-lg btn-block"
					onclick="window.location.href = '/{{.Arc}}';">{{.Text}}</button>
			</div>
			{{end}}
		</div>
	</main>
</body>

</html>